<html>
<mat-toolbar color={{primary}} style="font-size: 20px">لعبة ورقة حجرة مقص</mat-toolbar>
<mat-toolbar color={{secondary}} style="font-size: 12px">
    Rock Paper Scissors   
  </mat-toolbar>

<div class="content">
  <mat-card>
    <mat-card-content>
      <div class="content1">
        <h4 style="color:orange;"> {{user}} انت</h4>
        <button mat-fab color="primary" class="score">{{ scores[0] }}</button>
      </div>
      <h3> اختر سلاحك </h3>
      <div class="content2">
        <i (click)="pick(0);playAudio()" [ngClass]="{'selectedWeapon':(playerSelected === 0)}"><img src="../assets/RockPaperAssets/cissors.svg" style="width:120%; border: 3px solid orange"></i>
        <i (click)="pick(1)" [ngClass]="{'selectedWeapon':(playerSelected === 1)}"><img src="../assets/RockPaperAssets/paper.svg" style="width:120%; border: 3px solid orange"></i>
        <i (click)="pick(2)" [ngClass]="{'selectedWeapon':(playerSelected === 2)}"><img src="../assets/RockPaperAssets/rock.svg" style="width:120%; border: 3px solid orange"></i>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div class="content1">
        <h2>اللاعب الخصم</h2>
        <button mat-fab color="accent" class="score">{{ scores[1] }}</button>

      </div>
      <br><br>

      <div *ngIf="enemySelected !== -1" class="flex-container flex-center">
        <i *ngIf="enemySelected === 0" class="fa fa-hand-rock-o"></i>
        <i *ngIf="enemySelected === 1" class="fa fa-hand-paper-o"></i>
        <i *ngIf="enemySelected === 2" class="fa fa-hand-scissors-o"></i>
      </div>
    </mat-card-content>
  </mat-card>

</div>
<div *ngIf="!loading && isResultShow" class="flex-container flex-center" style="flex-direction: column">
  <div [ngSwitch]="theResult">
    <ng-template [ngSwitchCase]="0">
      <h1> You're the winner! </h1>
    </ng-template>
    <ng-template [ngSwitchCase]="1">
      <h1> You lose. </h1>
    </ng-template>
    <ng-template [ngSwitchCase]="2">
      <h1>It's a tie! </h1>
    </ng-template>
    <ng-template ngSwitchDefault> </ng-template>
  </div>
  <p> Pick again to continue or </p>
  <button (click)="reset()" mat-raised-button color="primary"> Reset score</button>
</div>

<div class="flex-container flex-center" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

</html>
