<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">



    <a class="navbar-brand" href="#" style="color: white">RecipeFinder</a>


    <span style="width: 40px"></span>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>


    <span style="width: 20px"></span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


        <li class="nav-item active">
          <a class="nav-link" href="#" style="color: white">Home <span class="sr-only">(current)</span></a>
        </li>
        <span style="width: 20px"></span>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" style="color: white" (click)="singUp()">Sign up here</a>
        </li>
        <span style="width: 40px"></span>
        <li>
          <button type="button" class="btn btn-dark" (click)="openLogin()" id="Login">Login</button>
        </li>
        <span style="width: 40px"></span>
        <li>
          <app-login-drop-down></app-login-drop-down>
        </li>


      </ul>
    </div>
  </nav>
</body>

</html>
