<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header class="navbar">
    <div class="title">
      <p style="color: white">All For Kids</p>
    </div>

    <div class="searchform">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter your key word" aria-label="Search" style="margin:5px;">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <div class="home">
      <a href="#" style="color: white">Home</a>
    </div>
    <div class="signUp">
      <a *ngIf="show" href="#" style="color: white" (click)="singUp()">Sign up</a>
      <app-login-drop-down id="logindropdown" [hidden]="show"></app-login-drop-down>
    </div>
    <div class="login">
      <a *ngIf="show" href="#" style="color: white" (click)="openLogin()">login</a>
      <a [hidden]="show" href="#" style="color: white" (click)="logOut()">log out</a>
    </div>
  </header>

  <div id="container">
    <div id="left">
       <p style="color: black">am a siebar</p>
    </div>
    <div id="right">
      <button class="button" (click)="openPapercissor()" style="background-image: url(../assets/RockPaperAssets/rockpapercissors.svg)"></button>
      <span></span>
      <button class="button" (click)="openPapercissor()" style="background-image: url(../assets/simonAssets/cover.svg)"></button>
      <button class="button" (click)="openPapercissor()" style="background-image: url(../assets/RockPaperAssets/rockpapercissors.svg)"></button>
      <button class="button" (click)="openPapercissor()" style="background-image: url(../assets/simonAssets/cover.svg)"></button>
      <button class="button" (click)="openPapercissor()" style="background-image: url(../assets/RockPaperAssets/rockpapercissors.svg)"></button>
      <button class="button" (click)="openPapercissor()" style="background-image: url(../assets/simonAssets/cover.svg)"></button>
      <button class="button" (click)="openPapercissor()" style="background-image: url(../assets/RockPaperAssets/rockpapercissors.svg)"></button>
      <button class="button" (click)="openPapercissor()" style="background-image: url(../assets/simonAssets/cover.svg)"></button>
    </div>
  </div>
</body>