mat-grid-tile {
  background: transparent;
}  
  
  
  .title {
    background-color: black;
    opacity: 0.85;
    float: left;
    width: 20%;
    align-content: center;
    text-align: center;
    height: 108px;
    padding-top: 35px;
    top: auto;
  }

  .home,
  .signUp,
  .login {
    background-color: black;
    opacity: 0.85;
    padding: 30px;
    float: left;
    width: 16.66%;
    text-align: center;
    height: 108px;

  }

  .searchform {
    background-color: black;
    opacity: 0.85;
    width: 30%;
    float: left;
    padding: 30px;
    height: 108px;
  }
  .mr-sm-2{
    height: 30px;
    width: 170px;
    text-align: center;
  }

  .my-sm-0{
    height: 30px;
    width: 75px;
    text-align: center;
    align-content: center
  }

  /*===============================================================================================*/
  @media screen and (max-width:320px) {
  .home,
  .signUp,
  .login{
    width: 25%;
    background-color: black;
    height: 20px;
  }
  .signUp{
    width: 50%;
    background-color: black;
    height: 20px;
  }

  .searchform {
    width: 100%;
    height: 40;
  }
  .mr-sm-2,
  .my-sm-0{
    height: 25px;
    font-size: 10px;
    text-align: center;
  }
  a {
    font-size: 10px;
  }
  .title {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
    height: 20%
  }

  p {
    font-size: 10px
  }

}




/*=======================================*/
@media screen and (min-width:320px) and (max-width:360px) {
  .home,
  .signUp,
  .login{
    width: 25%;
    background-color: black;
    height: 20px;
    font-size: 10px;
  }
  .signUp{
    width: 50%;
    background-color: black;
    height: 20px;
    font-size: 10px;
  }

  .searchform {
    width: 100%;
    height: 40;
  }
  .mr-sm-2,
  .my-sm-0{
    height: 25px;
    font-size: 10px;
    text-align: center;
  }
  a {
    font-size: 10px;
  }
  .title {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
    height: 20%
  }

  p {
    font-size: 10px
  }

}

 /*=======================================*/
 @media screen and (min-width:361px) and (max-width:375px) {
  .home,
  .signUp,
  .login{
    width: 25%;
    background-color: black;
    height: 20px;
    font-size: 10px;
  }
  .signUp{
    width: 50%;
    background-color: black;
    height: 20px;
    font-size: 10px;
  }

  .searchform {
    width: 100%;
    height: 40;
  }
  .mr-sm-2,
  .my-sm-0{
    height: 25px;
    font-size: 10px;
    text-align: center;
  }
  a {
    font-size: 10px;
  }
  .title {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
    height: 20%
  }

  p {
    font-size: 10px
  }

}

/*=======================================*/
@media screen and (min-width:376px) and (max-width:411px) {
  .home,
  .signUp,
  .login{
    width: 25%;
    background-color: black;
    height: 20px;
    font-size: 10px;
  }
  .signUp{
    width: 50%;
    background-color: black;
    height: 20px;
    font-size: 10px;
  }

  .searchform {
    width: 100%;
    height: 40;
  }
  .mr-sm-2,
  .my-sm-0{
    height: 25px;
    font-size: 10px;
    text-align: center;
  }
  a {
    font-size: 10px;
  }
  .title {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
    height: 20%
  }

  p {
    font-size: 10px
  }

}


/*=======================================*/
@media screen and (min-width:412px) and (max-width:414px) {
  .home,
  .login{
    width: 25%;
    background-color: black;
    height: 20px;
    font-size: 10px;
  }
  .signUp{
    width: 50%;
    background-color: black;
    height: 20px;
    font-size: 10px;
  }

  .searchform {
    width: 100%;
    height: 40;
  }
  .mr-sm-2,
  .my-sm-0{
    height: 25px;
    font-size: 10px;
    text-align: center;
  }
  a {
    font-size: 10px;
  }
  .title {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
    height: 20%
  }

  p {
    font-size: 10px
  }

}

/*=======================================*/
@media screen and (min-width:415px) and (max-width:768px) {

  .login{
    width: 22%;
    background-color: black;
    font-size: 10px;
    height: 101px;
  }
  .home{
    width: 15%;
    background-color: black;
    font-size: 10px;
    height: 101px;
  }
  .searchform{
    width: 35%;
    background-color: black;
    font-size: 10px;
    height: 101px;
  }
  .signUp{
    width: 28%;
    background-color: black;
    font-size: 10px;
    height: 101px;
  }

  .mr-sm-2{
    height: 25px;
    font-size: 10px;
    text-align: left;
    width: 110px;
  }
  .my-sm-0{
    height: 25px;
    font-size: 10px;
    text-align: right;
    width: 70px;
  }
  a {
    font-size: 10px;
  }
  .title {
    width: 100%;
    /* The width is 100%, when the viewport is 800px or smaller */
    height: 20%
  }

  p {
    font-size: 10px
  }

}


/*=======================================*/
@media screen and (min-width:769px) and (max-width:1024px) {

  .title,
  .home,
  .signUp,
  .login,
  .searchform {
    height: 120px;
    width: 20%;
    padding: 5px;
    background-color: black;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:white;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


.container {
  display: flex;
  flex-direction: row;
}
