<app-header></app-header>
<div class="container">
  <div class="row">
    <!-- first column-->
    <div class="col-sm">
      <app-searchbar></app-searchbar>
    </div>

    <!-- second column-->
    <div class="col-sm">
      <app-recipe></app-recipe>
      <app-recipe></app-recipe>
      <app-recipe></app-recipe>
      <app-recipe></app-recipe>
      <app-recipe></app-recipe>
      <app-recipe></app-recipe>
      <app-recipe></app-recipe>
      <app-recipe></app-recipe>
      <app-recipe></app-recipe>
    </div>
    
    <!-- Third column-->
    <div class="col-sm">
      third column
    </div>
  </div>
</div>
